doctype html
html(lang="en")
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="Content-type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="/styles.css" rel="stylesheet" media="screen")

  body
    div.row
      div.column
        h1= title

        div.article-content
          = content

        div.contribute
          a(href="/Latest_plane_crash/edit")= "Contribute "
          | to this breaking news article
